export FLASK_APP=manage.py
export FLASK_ENV=development | test | production
# export DATABASE_URI='sqlite:////path/to/foo.sqlite' # Unix/Linux
export DATABASE_URI='sqlite:///D:\path\to\foo.sqlite' # Windows
export PORT=5000
